$backgroundColor: #1f1f1f;
$lightBackgroundColor: #2b2b2b;
$highlightColor: #02aab0;
$textColor: #e8eaed;
$lightTextColor: #8a8a8a;

:export {
  backgroundColor: $backgroundColor;
  lightBackgroundColor: $lightBackgroundColor;
  highlightColor: $highlightColor;
  textColor: $textColor;
  lightTextColor: $lightTextColor;
}
