@import "../styles/colors";

.List {
  li {
    list-style-type: none;
  }
  .CommitContainer {
    background-color: $lightBackgroundColor;
    border-width: thin;
    border-color: $lightTextColor;
    border-style: solid;
    .MessageBody {
      color: $lightTextColor;
    }
  }
  .Line {
    background-color: $highlightColor;
    width: 10px;
  }
}
